<div class="container">
    <div class="page-header">
        <h1>Passing Route Parameters</h1>
        <p class="lead">ParamController Attached with $routeParams & $route injected</p>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <h4>routeparams:</h4>
            <pre>{{ routeParameters | json }}</pre>
        </div>

        <div class="col-lg-6 col-lg-offset-1">
            <h4>route.current:</h4>
            <pre>{{ currentRoute | json}}</pre>
        </div>

    </div>


</div>